{% extends "base.html" %} 
{% block title %} Home Page {% endblock %} 
{% block content %}
    <div class="tadeo-box">
        <div class="circle">
            <img src="/static/images/tadeo.png" alt="Photo of Tadeo" class="tadeo-img"></img>
        </div>
    </div>
    <div class="tadeo-desc">
        <p class="tadeo-desc-text">Tadeo de la Rocha</p>
    </div>
    <div class="tadeo-bio">
        <p class="tadeo-bio-text">
            I'm a Freshman student at the University of Texas at El Paso pursuing a Computer Science degree. <br>
            I am proficient in java, but I also have familiarity with C#, Python, and the Unity game engine.
            I have a basic understanding of web programming with tools such as: Flask, HTML and CSS.
            I have an interest in all things geeky so i hope one day i get to contribute to the development of a big project.<br>
            <br>
            You can reach me on the following thingies:<br>
            
            📧edelaroch@miners.utep.edu.</p>
    </div>
{% endblock %}
